fastapi
uvicorn[standard]
python-multipart
pydantic
pandas
numpy
pydantic
langchain-openai
langchain-ollama
langchain-core
python-docx
docxtpl
openpyxl
xlrd
docx2pdf
fpdf2
docling
openpyxl
python-dotenv

